.cta {
  margin-top: 24rem;
  padding-bottom: 24rem;
  position: relative;

  @include bp-md {
    margin-top: 6.4rem;
    padding-bottom: 6.4rem;
  }
}

.cta__inner {
  @include section-inner;
}

.cta__heading-title {
  margin-bottom: 6.4rem;

  @include bp-md {
    margin-top: 3.2rem;
    margin-bottom: 2.4rem;
  }
}

.cta__content {
  width: 100%;
  max-width: 72rem;
  margin-left: 10rem;
  position: relative;

  @include bp-md {
    max-width: 100%;
    margin-left: 0;
  }
}

.cta-form {
  max-width: 40rem;

  @include bp-md {
    max-width: 100%;
  }
}

.cta__image-container {
  display: flex;
  align-items: flex-start;

  @include bp-md {
    flex-direction: column;
  }
}

.cta__footnote {
  margin-bottom: 3.2rem;
  color: $color-medium-emphasis;
}

.cta__picture {
  flex-shrink: 0;
  @include bp-md {
    width: 100%;
    margin: 0 auto;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
}
.cta__image {
  @include bp-md {
    width: 100%;
    max-height: 19.4rem;
    object-fit: contain;
  }
}
.text {
}
.cta__text {
}
.button {
}

.cta__image-container {
}

.cta__src {
  position: absolute;
  top: 24rem;
  right: 0;
  z-index: -1;

  @include bp-md {
    position: unset;
    top: auto;
  }
}
