.home {
  padding-top: 24rem;
  padding-bottom: 12rem;

  @include bp-md {
    padding-top: 8.6rem;
    padding-bottom: 22.8rem;
  }
}

.home--padding-top {
  @include bp-lg {
    padding-top: 30.4rem;
    transition: padding-top $motion-m ease-in-out;
  }
}

.home__inner {
  @include section-inner;
}

.home__content {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  // align-items: center;
  position: relative;

  @include bp-md {
    flex-direction: column;
  }
}

.home__heading {
  padding-top: 12rem;
  max-width: 72rem;

  @include bp-md {
    padding-top: 5rem;
    margin-bottom: 4rem;
  }
}

.home__title {
  font-size: 6rem;
  line-height: 130%;
  color: $color-white;
  margin-bottom: 8rem;

  @include bp-xl {
    font-size: 5.2rem;
  }

  @include bp-md {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
  }
}

.home__title-top {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.home__title--animate {
  animation: titleflip 6s ease-in-out infinite;
  max-height: 108px;

  @include bp-md {
    animation: titleflipMobile 6s ease-in-out infinite;
    max-height: 3.2rem;
  }
}

.home__title--animate,
.home__title--animate li {
  height: 13.5rem;

  @include bp-md {
    height: 3.2rem;
  }
}

.home__title--animate li {
  position: relative;
  height: 1em !important;
}

.home__desc-wrap {
  max-width: 30rem;
  padding: 3.2rem;
  position: relative;

  @include bp-md {
    padding: 1.6rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 19rem;
    height: 0.1rem;
    background-color: $color-white;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 19rem;
    height: 0.1rem;
    background-color: $color-white;
  }
}

.home__description {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;

  color: $color-medium-emphasis;

  @include bp-md {
    font-size: 1.4rem;
  }
}

.home__image {
  position: relative;

  @include bp-md {
    margin-left: -1.8rem;
    margin-right: -1.8rem;
  }
}

.home__src {
  position: absolute;
  top: 12rem;
  left: -300px;
  width: 870px;
  max-width: 870px;

  @include bp-xl {
    width: 770px;
    left: -120px;
  }

  @include bp-md {
    width: 490px;
    left: auto;
    right: 4rem;
    top: 4rem;
  }
}

.home__button {
  position: absolute;
  background-color: $color-white;
  text-align: center;
  width: 24rem;
  height: 8.8rem;
  bottom: 12rem;
  right: -11.8rem;

  @include bp-xxl {
    right: 0;
  }

  @include bp-md {
    bottom: -8.8rem;
  }
}

.social-links {
  position: absolute;
  border-radius: 99rem;
  border: 0.1rem solid $color-white;
  right: 0;
}

.home__background-svg {
  display: block;
  width: 60.2rem;
  height: 100%;

  @include bp-md {
    display: none;
  }
}

.home__background-mobile {
  @include bp-md {
    width: 100%;
    height: 33rem;
    background: linear-gradient(130.64deg, #ffad33 -11.67%, #fe3075 118.66%);
  }
}

.home__social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 18rem;
  bottom: 18rem;
  right: 8.4rem;
  width: 7.2rem;
  gap: 4rem;

  @include bp-xxl {
    flex-direction: row;
    width: 72rem;
    height: 7.2rem;
    top: auto;
    bottom: 4rem;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  @include bp-md {
    display: none;
  }

  &::before,
  &:after {
    position: absolute;
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    background-color: $color-white;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 99rem;

    @include bp-xxl {
      left: auto;
      transform: none;
      top: 50%;
    }
  }

  &::before {
    top: 4.8rem;

    @include bp-xxl {
      top: auto;
      left: 4.8rem;
    }
  }

  &:after {
    bottom: 4.8rem;

    @include bp-xxl {
      top: auto;
      bottom: auto;
      right: 4.8rem;
    }
  }
}

.home__social-links-icon {
  width: 2.4rem;
  height: 2.4rem;
}
