/*----------- Animation Slider Logos -----------*/
.partners {
  background: linear-gradient(
    91.73deg,
    rgba(217, 217, 217, 0.15) 0%,
    rgba(217, 217, 217, 0.02) 100%
  );
}

.marquee-wrapper {
  overflow: hidden;
}

.marquee-block {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  //height: 400px;
  //height: 308px;
  height: 260px;
  position: relative;
  margin: 0 auto;
  padding: 0;

  @include bp-md {
    //height: 230px;
    height: 180px;
  }
}

.marquee-inner {
  display: flex;
  width: 200%;
  position: absolute;

  @include bp-md {
    width: 600%;
  }
}

.marquee-inner .marquee-logos {
  float: left;
  display: flex;
  align-items: center;
  //width: 100%;
}

.marquee-inner span img {
  margin-top: 55px;
  display: block;
  position: relative;
  transition: 0.2s linear;
}

.marquee-item {
  //width: calc(20% - 2.4rem);
  width: 357px;
  height: auto;
  display: inline-block;
  //margin-right: 2.4rem;
  margin-right: 48px;
  float: left;
  transition: all 0.2s ease-out;

   @include bp-md() {
     width: 140px;
     height: 140px;
   }

  img {
    margin: 0 auto;
    width: 240px;
    max-width: 75%;
    height: 75%;
    display: block;
    object-fit: contain;
    filter: grayscale(100%);
    transition: 0.2s linear;

    @include bp-md() {
      width: 80%;
      height: 80%;
    }
  }

  &:hover img {
    filter: none;
  }
}

.marquee-item--oval {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 29.7rem;
  height: 14rem;
  border-radius: 99rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
  flex-shrink: 0;

  @include bp-md() {
    width: 140px;
    height: 55px;
  }
}

.marquee-item--circle {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 24rem;
  //height: 24rem;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.6);
  flex-shrink: 0;

  @include bp-md() {
    width: 140px;
    height: 140px;
  }

  //img {
  //  width: 14rem;
  //  height: 14rem;
  //}
}

//Move to left
@keyframes marqueeLeft {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@keyframes marqueeLeftMob {
  0% {
    left: 0;
  }

  100% {
    left: -300%;
  }
}

.marquee-inner.to-left {
  -webkit-animation: marqueeLeft 10s linear infinite;
  animation: marqueeLeft 10s linear infinite;

  @include bp-md {
    -webkit-animation: marqueeLeftMob 8s linear infinite;
    animation: marqueeLeftMob 8s linear infinite;

  }
}


// NEW STYLES

.marquee-grid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0px;

  width: 25%;

  @include bp-md {
    //width: 300vw;
  }
}

.marquee-grid-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  width: 20%;
  padding: 0 10px;
  height: 200px;
  //border: 1px solid pink;
}

.marquee-grid-item__img-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  margin: auto;
  object-fit: contain;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.marquee-grid-item__img-wrapper.--circle {
  //height: 100%;
  max-width: 100%;
  width: 180px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.marquee-grid-item__img-wrapper.--oval {
  width: 100%;
  //height: 140px;
  height: 100px;
  border-radius: 99999px;

  @include bp-md {
    height: 60px;
  }
}

.marquee-grid-item__img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}