/*----------- Animation Slider Logos -----------*/
.partners {
  background: linear-gradient(
    91.73deg,
    rgba(217, 217, 217, 0.15) 0%,
    rgba(217, 217, 217, 0.02) 100%
  );
}

.marquee-wrapper {
  overflow: hidden;
}

.marquee-block {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  //height: 400px;
  height: 308px;
  position: relative;
  margin: 0 auto;
  padding: 0;

  @include bp-md {
    height: 268px;
  }
}

.marquee-inner {
  display: flex;
  width: 200%;
  position: absolute;
}

.marquee-inner .marquee-logos {
  float: left;
  display: flex;
  align-items: center;
  //width: 100%;
}

.marquee-inner span img {
  margin-top: 55px;
  display: block;
  position: relative;
  transition: 0.2s linear;
}

.marquee-item {
  //width: calc(20% - 2.4rem);
  width: 357px;
  height: auto;
  display: inline-block;
  //margin-right: 2.4rem;
  margin-right: 48px;
  float: left;
  transition: all 0.2s ease-out;

   @include bp-md() {
     width: 140px;
     height: 140px;
   }

  img {
    margin: 0 auto;
    width: 240px;
    max-width: 75%;
    height: 75%;
    display: block;
    object-fit: contain;
    filter: grayscale(100%);
    transition: 0.2s linear;

    @include bp-md() {
      width: 80%;
      height: 80%;
    }
  }

  &:hover img {
    filter: none;
  }
}

.marquee-item--oval {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 29.7rem;
  height: 14rem;
  border-radius: 99rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
  flex-shrink: 0;

  @include bp-md() {
    width: 140px;
    height: 55px;
  }
}

.marquee-item--circle {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 24rem;
  //height: 24rem;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.6);
  flex-shrink: 0;

  @include bp-md() {
    width: 140px;
    height: 140px;
  }

  //img {
  //  width: 14rem;
  //  height: 14rem;
  //}
}

//Move to left
@keyframes marqueeLeft {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.marquee-inner.to-left {
  -webkit-animation: marqueeLeft 30s linear infinite;
  animation: marqueeLeft 30s linear infinite;
}
