.troubles {
  background-color: $color-white;
  padding-top: 12rem;
}

.troubles__inner {
  @include section-inner;
}

.troubles__heading {
  max-width: 82rem;
}

.troubles__heading-title {
  color: $color-black;
}

.troubles__items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: -1.5rem;
  margin-right: -1.5rem;

  @include bp-md {
    flex-direction: column;
  }
}

.troubles__item {
  width: 33.3333%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include bp-md {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.troubles__item-line {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    max-width: 326px;
    height: 4px;
    transform: rotate(-45deg) translateY(-50%);
    border-radius: 4px;

    @include bp-md {
      max-width: 200px;
      top: 0;
      left: 40%;
      transform: rotate(-45deg) translateX(-50%);
    }
  }
}

.troubles__image {
  flex-shrink: 0;
}

.troubles__src {
  height: 100%;
}

.troubles__content-text {
  flex-grow: 1;
  color: $color-black;
}

.troubles__list {
  padding-top: 4rem;
}

.troubles__list li {
  margin-bottom: 2.4rem;
}

.troubles__list li::before {
  content: "//";
  color: $color-black-disabled-emphasis;
  font-size: 2.2rem;
  line-height: 3.2rem;
  margin-right: 0.8rem;
}
