.header {
  position: relative;
  transition-property: background-color, padding;
  transition-duration: 0.3s;
  z-index: 0;
  padding: 3.2rem 0;

  &--scrolled {
    background-color: rgb(0, 0, 0, 0.66);
    backdrop-filter: blur(1.6rem);
    padding: 1.6rem 0;
  }

  @include bp-md {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @include section-inner;

  // @include bp-sm {
  //   padding-right: 1.6rem;
  //   padding-left: 1.6rem;
  // }
}

.header__mobile-column {
  display: flex;
  align-items: center;
}

.header__logo {
  cursor: pointer;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  color: $color-primary-200;
  z-index: 3;

  @include link-events {
    color: $color-primary-200;
  }
}

.header__logo-img {
  display: inline-block;
  height: 5.4rem;
  margin-right: $indent-xs;
}

.header__logo-text {
  font-family: $type-family;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2rem;

  @include bp-sm {
    font-size: 1.4rem;
  }
}

.header__burger {
  display: none;

  @include bp-md {
    font-size: 0;
    position: relative;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    display: block;
    z-index: 2;
    background-color: transparent;
    border: 1px solid $color-high-emphasis;
  }

  &::after,
  &::before,
  span {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2rem;
    height: 0.2rem;
    background-color: $color-white;
    transition: transform $motion-m ease-in-out;
  }

  &::before {
    top: 12px;
  }

  &::after {
    top: 1.8rem;
  }

  span {
    top: 24px;
  }

  &--active::before {
    width: 20px;
    top: 14px;
    left: 9px;
    transform: rotate(45deg) translate(0.3rem, 0.3rem);
  }
  &--active::after {
    top: 22px;
    left: 9px;
    transform: rotate(-45deg) translate(0.3rem, -0.3rem);
  }
  &--active span {
    opacity: 0;
  }
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include bp-md {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: -400px;
    left: 0;
    width: 100%;
    padding: 10rem 0 0.8rem 0;
    background-color: $color-black;
    z-index: 1;
    transition: left $motion-s ease-out ease-in-out;

    .header--opened & {
      top: 0;
      transition-duration: $motion-m;
    }
  }
}

.header__menu-link {
  font-family: $type-family;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-right: 4.8rem;
  transition: color $motion-m ease-in-out;
  cursor: pointer;
  color: $color-white;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  @include link-events {
    color: $color-white;
  }

  &:hover {
    color: $color-primary-200;
  }

  &::after {
    content: "//";
    position: absolute;
    right: -3.2rem;
    color: $color-high-emphasis;

    @include bp-md {
      display: none;
    }
  }

  &:last-child:after {
    display: none;
  }

  @include bp-md {
    margin-right: 0;
    width: 100%;
    max-width: $screen-m - 20px;
    padding: 0.8rem 1.8rem;
    margin: 0 auto;
  }

  @include bp-md {
    max-width: $screen-s - 20px;
  }

  @include bp-sm {
    max-width: 100%;
  }
}

.header__right-side {
  display: flex;
  align-items: center;
}

.header__social {
  margin-right: 2rem;

  @include bp-sm {
    display: none;
  }
}

.header__menu-button {
  @include bp-md {
    width: auto;
    padding: 12px 16px;
    font-size: 12px;
    z-index: 3;
  }
}
