.select {
  position: relative;
  outline: none;
}

.select__current-language {
  display: flex;
  align-items: center;
  color: $color-high-emphasis;
  margin-left: 4rem;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;

  @include bp-lg {
    width: 100%;
    padding: 0.8rem 1.6rem;
    margin-right: 0;
    margin-top: $indent-l;
  }

  &:hover {
    color: $color-primary-200;

    .select__current-language-icon {
      background-color: $color-primary-200;
    }
  }
}

.select__current-language-icon {
  width: 1rem;
  height: 1.6rem;
  margin-left: 0.8rem;
  background-color: #c6c6c6;
  transition: transform $motion-m ease-in-out;
}

.select__dropdown-menu {
  display: flex;
  flex-direction: column;
  // background-color: $color-surface;
  padding: 0.4rem 0;
  border-radius: 0.4rem;
  position: absolute;
  top: 3.2rem;
  left: -10px;
  z-index: 2;
  opacity: 0;

  @include bp-lg {
    left: 1.6rem;
  }

  &::after {
    content: url("/img/icons/rectangle.svg");
    position: absolute;
    right: 0.7rem;
    top: -1.4rem;
    width: 1.4rem;
    height: 1.4rem;
    z-index: 1;
  }
}

.select__menu-item {
  width: 5.5rem;
  // font-weight: $type-weight--semi-bold;
  font-size: 1.4rem;
  color: $color-high-emphasis;
  line-height: 1.7rem;
  padding: 0.4rem 0 0.4rem 1rem;
  transition: background-color $indent-m ease-in-out,
    color $indent-m ease-in-out;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $color-primary-200;
    color: white;
  }
}

.select__language-checkbox {
  visibility: hidden;
  position: absolute;
}

.select__language-checkbox:checked ~ span {
  color: $color-primary-200;
}

.select__language-checkbox:checked ~ .select__dropdown-menu {
  opacity: 1;
}

.select__language-checkbox:checked ~ .select__current-language-icon {
  transform: rotate(180deg);
  background-color: $color-primary-200;
}

// CUSTOM SELECT
.cs-selector {
  --selectedBackground: #e0e0e0;
  --selectedColor: #000;
  width: 100%;
  height: 100%;
  //background: #FFF;
  background: none;
  cursor: pointer;

  &[data-selected="1"] .cs-options-list .cs-option:nth-child(2) {
    background: var(--selectedBackground);
    color: var(--selectedColor);
  }
  &[data-selected="2"] .cs-options-list .cs-option:nth-child(3) {
    background: var(--selectedBackground);
    color: var(--selectedColor);
  }
  &[data-selected="3"] .cs-options-list .cs-option:nth-child(4) {
    background: var(--selectedBackground);
    color: var(--selectedColor);
  }
  &[data-selected="4"] .cs-options-list .cs-option:nth-child(5) {
    background: var(--selectedBackground);
    color: var(--selectedColor);
  }
  &[data-selected="5"] .cs-options-list .cs-option:nth-child(6) {
    background: var(--selectedBackground);
    color: var(--selectedColor);
  }
  &[data-selected="6"] .cs-options-list .cs-option:nth-child(7) {
    background: var(--selectedBackground);
    color: var(--selectedColor);
  }
  &[data-selected="7"] .cs-options-list .cs-option:nth-child(8) {
    background: var(--selectedBackground);
    color: var(--selectedColor);
  }
  &[data-selected="8"] .cs-options-list .cs-option:nth-child(9) {
    background: var(--selectedBackground);
    color: var(--selectedColor);
  }
  &[data-selected="9"] .cs-options-list .cs-option:nth-child(10) {
    background: var(--selectedBackground);
    color: var(--selectedColor);
  }
  &[data-selected="10"] .cs-options-list .cs-option:nth-child(11) {
    background: var(--selectedBackground);
    color: var(--selectedColor);
  }
  &[data-selected="11"] .cs-options-list .cs-option:nth-child(12) {
    background: var(--selectedBackground);
    color: var(--selectedColor);
  }
  &[data-selected="12"] .cs-options-list .cs-option:nth-child(13) {
    background: var(--selectedBackground);
    color: var(--selectedColor);
  }
  &[data-selected="13"] .cs-options-list .cs-option:nth-child(14) {
    background: var(--selectedBackground);
    color: var(--selectedColor);
  }
  &[data-selected="14"] .cs-options-list .cs-option:nth-child(15) {
    background: var(--selectedBackground);
    color: var(--selectedColor);
  }
  &[data-selected="15"] .cs-options-list .cs-option:nth-child(16) {
    background: var(--selectedBackground);
    color: var(--selectedColor);
  }

  &-icon {
    transition: 0.3s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
  }
  &[data-active="1"] {
    .cs-selector-icon {
      transform: rotateZ(180deg);
    }
    .cs-options-list {
      position: relative;
      width: calc(100% + 2px);
      left: -1px;
      margin: 0;
      border-radius: 0;
      display: block;
      animation: fadeIn;
      background-color: #000;
      z-index: 100;
    }
  }
  &[data-active="0"] .cs-options-list,
  select {
    display: none;
  }
  user-select: none;
}

.cs {
  &-selected-box {
    width: 100%;
    height: 100%;
    padding: 0.8em 1.2em;
    //background: #FFF;
    background: none;
    //color: #595959;
    color: #ffffff;
    border-radius: 5px;
    //border: .5px solid #bfbfbf;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-selected-option {
    width: calc(100% - 40px);
    height: 100%;
    color: #fff;
    vertical-align: middle;
    display: contents;
  }
  &-selector-icon {
    width: 20px;
    height: 20px;
    & svg {
      width: 100%;
      height: auto;
      stroke: #ffffff;
      stroke-width: 1px;
    }
  }
  &-options-list {
    border: 0.5px solid #bfbfbf;
    list-style: none;
    padding: 0;
    margin: 12px 0;
    position: absolute;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
  }
  &-selector-label {
    display: none;
  }
  &-option {
    //color: #595959;
    color: #ffffff;
    padding: 0.9em 1.3em;
    transition: color, background-color 0.2s ease;
    font-weight: 400;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:not(:last-child) {
      border-bottom: 0;
    }
  }
}
